
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHistorialUsuariosExpoLabel">Create or edit a Historial Usuarios Expo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.historialUsuariosExpo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.historialUsuariosExpo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idExpo">Id Expo</label>
            <input type="number" class="form-control" name="idExpo" id="field_idExpo"
                    ng-model="vm.historialUsuariosExpo.idExpo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_deviceId">Device Id</label>
            <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                    ng-model="vm.historialUsuariosExpo.deviceId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_standId">Stand Id</label>
            <input type="number" class="form-control" name="standId" id="field_standId"
                    ng-model="vm.historialUsuariosExpo.standId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subcategoryId">Subcategory Id</label>
            <input type="number" class="form-control" name="subcategoryId" id="field_subcategoryId"
                    ng-model="vm.historialUsuariosExpo.subcategoryId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.historialUsuariosExpo.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
