<div>
    <h2>Clicks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="click.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Click
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="beaconId"><span>Beacon Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clientId"><span>Client Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coordenadas"><span>Coordenadas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaHora"><span>Fecha Hora</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="click in vm.clicks track by click.id">
                    <td><a ui-sref="click-detail({id:click.id})">{{click.id}}</a></td>
                    <td>{{click.beaconId}}</td>
                    <td>{{click.clientId}}</td>
                    <td>{{click.coordenadas}}</td>
                    <td>{{click.fechaHora}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="click-detail({id:click.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="click.edit({id:click.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="click.delete({id:click.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
