
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExposicionLabel">Create Exposition</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_nombre">Name</label>
            <input type="text" required class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.exposicion.nombre"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descripcion">Description</label>
            <textarea type="text" required class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.exposicion.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label">Start date</label>
            <input type="date" id="starDate" class="form-control" name="endDate" ng-model="vm.startDate"
                   placeholder="dd-MM-yyyy" required />
        </div>
        <div class="form-group">
            <label class="control-label">End date</label>
            <input type="date" id="endDate" class="form-control" min="{{vm.startDate | date: 'yyyy-MM-dd'}}" name="endDate" ng-model="vm.endDate"
                   placeholder="yyyy-MM-dd" required />
        </div>
        <div class="form-group">
            <label class="control-label">Type Expo</label>
            <input type="radio" ui-sref="sub-categoria.new" value="Category" ng-model="vm.typeExpo"/> Category
            <input type="radio"  value="Stand" ng-model="vm.typeExpo"/> Stand
        </div>
        <div class="form-group" ng-switch="vm.typeExpo">
            <div ng-switch-when="Category" >

            </div>
            <div ng-switch-when="Stand">
                <h1>PARTE</h1>
                <h2>De ROBERT.</h2>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_coordenadas">Coordenadas</label>-->
            <!--<input type="text" class="form-control" name="coordenadas" id="field_coordenadas"-->
                    <!--ng-model="vm.exposicion.coordenadas"-->
                    <!--/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="field_distrito">Distrito</label>-->
            <!--<select class="form-control" id="field_distrito" name="distrito" ng-model="vm.exposicion.distritoId" ng-options="distrito.id as distrito.id for distrito in vm.distritos"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="field_categoria">Categoria</label>-->
            <!--<select class="form-control" id="field_categoria" name="categoria" ng-model="vm.exposicion.categoriaId" ng-options="categoria.id as categoria.id for categoria in vm.categorias"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="field_amenidades">Amenidades</label>-->
            <!--<select class="form-control" id="field_amenidades" multiple name="amenidades" ng-model="vm.exposicion.amenidades" ng-options="amenidades as amenidades.id for amenidades in vm.amenidades track by amenidades.id"></select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="field_click">Click</label>-->
            <!--<select class="form-control" id="field_click" name="click" ng-model="vm.exposicion.clickId" ng-options="click.id as click.id for click in vm.clicks | orderBy:'id'">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="field_usuario">Usuario</label>-->
            <!--<select class="form-control" id="field_usuario" name="usuario" ng-model="vm.exposicion.usuarioId" ng-options="usuario.id as usuario.nombre for usuario in vm.usuarios"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <div class="form-group">
            <label class="control-label" for="field_estadoExpo">Active Expo</label>
            <input type="checkbox" name="estadoExpo" id="field_estadoExpo"
                   ng-model="vm.exposicion.estadoExpo"/>
        </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
