
<form name="editForm" role="form" novalidate>
        <h4 class="modal-title" id="myExposicionLabel">Create Exposition</h4>
        <div class="form-group">
            <label class="control-label" for="field_nombre">Name</label>
            <input type="text" required class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.exposicion.nombre"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descripcion">Description</label>
            <textarea type="text" required class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.exposicion.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label">Start date</label>
            <input type="date" id="fechaInicio" class="form-control"  min="{{vm.currentDate | date: 'yyyy-MM-dd'}}"  max="{{vm.exposicion.fechaFin | date: 'yyyy-MM-dd'}}"  name="fechaInicio" ng-model="vm.exposicion.fechaInicio"
                   placeholder="dd-MM-yyyy" required />
        </div>
        <div class="form-group">
            <label class="control-label">End date</label>
            <input type="date" id="fechaFin" class="form-control" min="{{vm.exposicion.fechaInicio | date: 'yyyy-MM-dd'}}" name="fechaFin" ng-model="vm.exposicion.fechaFin"
                   placeholder="yyyy-MM-dd" required />
        </div>
        <div class="form-group">
            <label for="field_amenidades">Amenities</label>
            <select class="form-control" id="field_amenidades" multiple name="amenidades" ng-model="vm.exposicion.amenidades" ng-options="amenidades as amenidades.nombre for amenidades in vm.amenidades track by amenidades.id"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Type Expo</label>
            <input type="radio" value="Category" ng-model="vm.typeExpo"/> Category
            <input type="radio"  value="Stand" ng-disabled="vm.checked" ng-model="vm.typeExpo"/> Stand
        </div>
        <div class="form-group" ng-switch="vm.typeExpo">
            <div ng-switch-when="Category" >
                <div class="form-group">
                    <label for="field_categoria">Choose a category</label>
                    <select class="form-control" required id="field_categoria" ng-disabled="vm.checked" name="categoria" ng-model="vm.exposicion.categoriaId" ng-options="categoria.id as categoria.nombre for categoria in vm.categorias"            >
                        <option value=""></option>
                    </select>
                </div>

                    <label class="control-label">Sub Category Name</label>

                <div class="input-group">
                    <input name="place" type="text" class="form-control"
                           ng-model="vm.subCategoria.nombre" />
                    <span class="input-group-btn">
                <button class="btn btn-primary"
                        ng-click="vm.addSubCategoria(vm.subCategoria.nombre)">Add</button>
            </span>
                </div>
                <br>
                <dd class="input-group" ng-repeat="item in vm.subCategoriaToSave">
                       <button type="button"  style="float:right;" aria-hidden="true"
                            ng-click="vm.removeSubCategory($index)">&times;</button>
                        <span>{{item}}</span>
                </dd>
                <br>
        </div>
            <div ng-switch-when="Stand">
                <h1>PARTE</h1>
                <h2>De ROBERT.</h2>
            </div>
            <label class="control-label">Search location</label>
            <br>
        <div class="input-group">
            <input name="place" type="text" class="form-control"
               ng-model="vm.searchPlace" required autofocus />
            <span class="input-group-btn">
                <button class="btn btn-primary"
                        ng-click="vm.search()">Search</button>
            </span>
        </div>

        <div id="map" style="height: 300px; margin: 20px 0; border-radius: 5px; border: 1px solid silver;"></div>
        <div class="form-group">
            <label class="control-label" for="field_estadoExpo">Active Expo</label>
            <input type="checkbox" name="estadoExpo" id="field_estadoExpo"
                   ng-model="vm.exposicion.estadoExpo"/>
        </div>
        </div>

        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    <br>
    <br>
</form>
<!--<script src="https://maps.google.com/maps/api/js?key=AIzaSyCQ10jip8QP1hVq8fOf78fySZd5sAeEoY4&libraries=visualization,drawing,geometry,places"></script>-->
<!---->
