
<div>
    <h2><span>Exposition</span> {{vm.exposicion.nombre}}</h2>
    <hr>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.exposicion.descripcion}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd ng-if="vm.exposicion.estadoExpo">
        <span>Active</span>
        </dd>
        <dd ng-if="!vm.exposicion.estadoExpo">
            <span>Inactive</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
            <span>{{vm.exposicion.fechaInicio}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{vm.exposicion.fechaFin}}</span>
        </dd>
        <dt ng-show="{{vm.byAmenities}}"><span>Amenities</span></dt>
        <dd ng-show="{{vm.byAmenities}}">
            <span ng-repeat="amenidades in vm.exposicion.amenidades">
                <a style="text-decoration: none; color:black">{{amenidades.nombre}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Organizer</span></dt>
        <dd>
            <a ui-sref="usuario-detail({id:vm.exposicion.usuarioId})" style="text-decoration: none; color:black">{{vm.exposicion.usuarioNombre}}</a>
        </dd>
        <dt ng-show="{{vm.byStands}}"><span>Stand</span></dt>
        <dd ng-show="{{vm.byStands}}">
            <span ng-repeat="stand in vm.exposicion.stands">
            <a ui-sref="stand-detail({id: stand.id})">{{stand.nombre}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt ng-show="{{vm.byCategories}}"><span>Categories</span></dt>
        <dd ng-show="{{vm.byCategories}}">
            <span ng-repeat="subCategory in vm.subCategories">
            <a ui-sref="sub-categoria-detail({id: subCategory.id})">{{subCategory.nombre}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dd id="map" style="height: 400px; margin: 20px 0; border-radius: 5px; border: 1px solid silver;">
        </dd>
    </dl>
    <button type="button" ui-sref="exposicion-detail.invite({id:vm.exposicion.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-send"></span>
        <span class="hidden-sm-down"> Invite Stand</span>
    </button>
    <br>
    <br>
</div>
