<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
            <h1>Registration</h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Register Succesfull!</strong> Check your email.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                La contraseña y la confirmación no coinciden!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

        <div class="form-group">
            <label class="control-label" for="field_nombre">Nombre</label>
            <input type="text" required class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.usuario.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_correo">Correo</label>
            <input type="email" required class="form-control" name="correo" id="field_correo"
                    ng-model="vm.usuario.correo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_clave">Clave</label>
            <input type="password" ng-blur="showmsg = false" ng-focus="showmsg = true"  required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-minlength="4" ng-maxlength=50 class="form-control" name="clave" id="field_clave"
                    ng-model="vm.usuario.clave"
                    />
            <p class="help-block ng-hide"
               ng-show="showmsg">Must contains one digit 0-9, One character, One special symbol. At least 4 digits </p>
            <div ng-show="editForm.clave.$dirty && editForm.clave.$invalid">
                <p class="help-block"
                   ng-show="editForm.clave.$error.required">
                    Your password is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.clave.$error.minlength">
                    Your password is required to be at least 4 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.clave.$error.maxlength">
                    Your password cannot be longer than 50 characters.
                </p>
            </div>
            <password-strength-bar password-to-check="vm.usuario.clave"></password-strength-bar>
        </div>

        <div class="form-group">
            <label class="control-label" for="confirm_password">Confirmación</label>
            <input type="password" class="form-control" ng-minlength="4" ng-maxlength=50 required name="confirmPassword" id="confirm_password"
                   ng-model="vm.confirmPassword"/>
            <div ng-show="editForm.confirm_password.$dirty && editForm.confirm_password.$invalid">
                <p class="help-block"
                   ng-show="editForm.confirm_password.$error.required">
                    Your confirmation password is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.confirm_password.$error.minlength">
                    Your confirmation password is required to be at least 4 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.confirm_password.$error.maxlength">
                    Your confirmation password cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_rol">Rol</label>
            <select class="form-control" id="field_rol" required name="rol" ng-model="vm.usuario.rolId" ng-options="rol.id as rol.nombre for rol in vm.rols | filter:rol.id=1" >
                <option value="" selected hidden />
            </select>
        </div>

    <!--<div class="form-group">
        <label for="field_timeline">Timeline</label>
        <select class="form-control" id="field_timeline" multiple name="timeline" ng-model="vm.usuario.timelines" ng-options="timeline as timeline.id for timeline in vm.timelines track by timeline.id"></select>
    </div>
    <div class="form-group">
        <label for="field_stand">Stand</label>
        <select class="form-control" id="field_stand" name="stand" ng-model="vm.usuario.standId" ng-options="stand.id as stand.nombre for stand in vm.stands">
            <option value=""></option>
        </select>
    </div>-->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
        </div>
    </div>
</div>
